In [31]:
#DATA OVERVIEW WITH PANDAS

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# URL encode the password
password = quote_plus('DM!$!Team!72@04!23&')

# Create a connection string with the encoded password
connection_string = f"mysql+pymysql://dm_team7:{password}@18.136.157.135/project_customer_segmentation"

try:
    # Create an engine
    engine = create_engine(connection_string)

    # Define your query
    query = "SELECT * FROM customer"

    # Query the database using pandas
    df = pd.read_sql(query, engine)

    # Show the DataFrame
    print(df.head())

except Exception as e:
    print(f"Error: {e}")

  invoice_no customer_id  gender  age    category  quantity    price  \
0    I100008     C199951    Male   65    Clothing         5  1500.40
1    I100014     C138893    Male   55   Cosmetics         5   203.30
2    I100015     C132779  Female   35    Clothing         2   600.16
3    I100024     C244411  Female   67       Books         3    45.45
4    I100027     C150002  Female   19  Technology         4  4200.00

  payment_method invoice_date      shopping_mall
0           Cash   10-07-2022  Emaar Square Mall
1           Cash   18-06-2021     Viaport Outlet
2     Debit Card   04-03-2021   Mall of Istanbul
3    Credit Card   05-01-2023  Emaar Square Mall
4           Cash   18-05-2022   Mall of Istanbul

In [3]:
df.head()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I100008,C199951,Male,65,Clothing,5,1500.40,Cash,10-07-2022,Emaar Square Mall
1,I100014,C138893,Male,55,Cosmetics,5,203.30,Cash,18-06-2021,Viaport Outlet
2,I100015,C132779,Female,35,Clothing,2,600.16,Debit Card,04-03-2021,Mall of Istanbul
3,I100024,C244411,Female,67,Books,3,45.45,Credit Card,05-01-2023,Emaar Square Mall
4,I100027,C150002,Female,19,Technology,4,4200.00,Cash,18-05-2022,Mall of Istanbul

In [5]:
df.tail()

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
99452,I999956,C925896,Male,69,Toys,4,143.36,Credit Card,16-08-2021,Metrocity
99453,I999959,C695980,Female,68,Clothing,4,1200.32,Credit Card,13-10-2021,Kanyon
99454,I999972,C195931,Male,63,Technology,2,2100.00,Debit Card,23-01-2021,Istinye Park
99455,I999973,C248542,Male,28,Technology,1,1050.00,Credit Card,11-01-2023,Mall of Istanbul
99456,I999994,C299697,Female,21,Technology,3,3150.00,Cash,09-04-2021,Kanyon

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB

In [61]:
#It consists of 3 numeric  and 7 categorical varibles.

In [65]:
df.isnull().sum()

invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
revenue           0
age_group         0
dtype: int64

In [63]:
#There are no missing values in our dataset.

In [51]:
df.columns

Index(['invoice_no', 'customer_id', 'gender', 'age', 'category', 'quantity',
       'price', 'payment_method', 'invoice_date', 'shopping_mall'],
      dtype='object')

In [59]:
df.shape

(99457, 10)

In [ ]:
#Our dataset consist of 99457 observations and 10 attributes.

In [67]:
df.nunique()

invoice_no        99457
customer_id       99457
gender                2
age                  52
category              8
quantity              5
price                40
payment_method        3
invoice_date        797
shopping_mall        10
revenue              40
age_group             6
dtype: int64

In [67]:
# Check for duplicate rows
df.duplicated().sum()

0

In [ ]:
##Data Transformation

In [11]:
df['revenue'] = df['quantity'] * df['price']
print(df)

      invoice_no customer_id  gender  age    category  quantity    price  \
0        I100008     C199951    Male   65    Clothing         5  1500.40
1        I100014     C138893    Male   55   Cosmetics         5   203.30
2        I100015     C132779  Female   35    Clothing         2   600.16
3        I100024     C244411  Female   67       Books         3    45.45
4        I100027     C150002  Female   19  Technology         4  4200.00
...          ...         ...     ...  ...         ...       ...      ...
99452    I999956     C925896    Male   69        Toys         4   143.36
99453    I999959     C695980  Female   68    Clothing         4  1200.32
99454    I999972     C195931    Male   63  Technology         2  2100.00
99455    I999973     C248542    Male   28  Technology         1  1050.00
99456    I999994     C299697  Female   21  Technology         3  3150.00

      payment_method invoice_date      shopping_mall   revenue
0               Cash   10-07-2022  Emaar Square Mall   7502.00
1               Cash   18-06-2021     Viaport Outlet   1016.50
2         Debit Card   04-03-2021   Mall of Istanbul   1200.32
3        Credit Card   05-01-2023  Emaar Square Mall    136.35
4               Cash   18-05-2022   Mall of Istanbul  16800.00
...              ...          ...                ...       ...
99452    Credit Card   16-08-2021          Metrocity    573.44
99453    Credit Card   13-10-2021             Kanyon   4801.28
99454     Debit Card   23-01-2021       Istinye Park   4200.00
99455    Credit Card   11-01-2023   Mall of Istanbul   1050.00
99456           Cash   09-04-2021             Kanyon   9450.00

[99457 rows x 11 columns]

In [21]:
#For age-related analysis 


bins = [18, 25, 35, 45, 55, 65, 70]
labels = ['18-25', '26-35', '36-45', '46-55', '56-65', '66-70']
df['age_group'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)
print(df)

      invoice_no customer_id  gender  age    category  quantity    price  \
0        I100008     C199951    Male   65    Clothing         5  1500.40
1        I100014     C138893    Male   55   Cosmetics         5   203.30
2        I100015     C132779  Female   35    Clothing         2   600.16
3        I100024     C244411  Female   67       Books         3    45.45
4        I100027     C150002  Female   19  Technology         4  4200.00
...          ...         ...     ...  ...         ...       ...      ...
99452    I999956     C925896    Male   69        Toys         4   143.36
99453    I999959     C695980  Female   68    Clothing         4  1200.32
99454    I999972     C195931    Male   63  Technology         2  2100.00
99455    I999973     C248542    Male   28  Technology         1  1050.00
99456    I999994     C299697  Female   21  Technology         3  3150.00

      payment_method invoice_date      shopping_mall   revenue age_group
0               Cash   10-07-2022  Emaar Square Mall   7502.00     66-70
1               Cash   18-06-2021     Viaport Outlet   1016.50     56-65
2         Debit Card   04-03-2021   Mall of Istanbul   1200.32     36-45
3        Credit Card   05-01-2023  Emaar Square Mall    136.35     66-70
4               Cash   18-05-2022   Mall of Istanbul  16800.00     18-25
...              ...          ...                ...       ...       ...
99452    Credit Card   16-08-2021          Metrocity    573.44     66-70
99453    Credit Card   13-10-2021             Kanyon   4801.28     66-70
99454     Debit Card   23-01-2021       Istinye Park   4200.00     56-65
99455    Credit Card   11-01-2023   Mall of Istanbul   1050.00     26-35
99456           Cash   09-04-2021             Kanyon   9450.00     18-25

[99457 rows x 12 columns]

In [ ]:
##Data Exploration  and Visualization

In [15]:
df.groupby("gender").describe().T

gender                Female          Male
age      count  59482.000000  39975.000000
         mean      43.453515     43.387767
         std       14.965468     15.026664
         min       18.000000     18.000000
         25%       30.000000     30.000000
         50%       43.000000     43.000000
         75%       56.000000     56.000000
         max       69.000000     69.000000
quantity count  59482.000000  39975.000000
         mean       3.003581      3.003202
         std        1.411621      1.415129
         min        1.000000      1.000000
         25%        2.000000      2.000000
         50%        3.000000      3.000000
         75%        4.000000      4.000000
         max        5.000000      5.000000
price    count  59482.000000  39975.000000
         mean     688.137615    690.920933
         std      940.791874    941.777893
         min        5.230000      5.230000
         25%       45.450000     40.660000
         50%      203.300000    203.300000
         75%     1200.320000   1200.320000
         max     5250.000000   5250.000000
revenue  count  59482.000000  39975.000000
         mean    2525.253623   2534.050237
         std     4226.617822   4216.352329
         min        5.230000      5.230000
         25%      136.350000    130.750000
         50%      600.170000    600.170000
         75%     2700.720000   2700.720000
         max    26250.000000  26250.000000

In [95]:
#The data indicates that females account for a higher proportion of shopping transactions compared to males.

In [17]:

gender_quantity = df.groupby("gender")["quantity"].sum()
print(gender_quantity)

gender
Female    178659
Male      120053
Name: quantity, dtype: int64

In [ ]:
##From this, you can see that Females purchased more products than Males, based on the sum of the quantity column.

In [19]:
revenue_by_gender = df.groupby('gender')['revenue'].sum()
print(revenue_by_gender)

gender
Female    1.502071e+08
Male      1.012987e+08
Name: revenue, dtype: float64

In [ ]:
##Female customers generated more revenue than male customers, with a total of ₹150,207,100 compared to ₹101,298,700 for male customers.

In [101]:

category_gender_dist = df.groupby(['category', 'gender']).size().unstack().fillna(0)
print("Distribution of Categories by Gender:\n", category_gender_dist)

category_age_dist = df.groupby(['category', 'age']).size().unstack().fillna(0)
print("\nDistribution of Categories by Age Group:\n", category_age_dist)

revenue_by_category = df.groupby('category')['revenue'].sum()
print("\nRevenue by Category:\n", revenue_by_category)

quantity_by_category = df.groupby('category')['quantity'].sum()
print("\nQuantity Sold by Category:\n", quantity_by_category)

payment_category_dist = df.groupby(['category', 'payment_method']).size().unstack().fillna(0)
print("\nPayment Method Distribution by Category:\n", payment_category_dist)

Distribution of Categories by Gender:
 gender           Female   Male
category
Books              2906   2075
Clothing          20652  13835
Cosmetics          9070   6027
Food & Beverage    8804   5972
Shoes              5967   4067
Souvenir           3017   1982
Technology         2981   2015
Toys               6085   4002

Distribution of Categories by Age Group:
 age               18   19   20   21   22   23   24   25   26   27  ...   60  \
category                                                           ...
Books            106   94   89   88  106   95  109  101   86   87  ...   93
Clothing         646  687  641  667  735  626  684  651  662  700  ...  679
Cosmetics        267  289  269  289  318  279  268  297  285  289  ...  276
Food & Beverage  281  290  292  288  286  307  307  255  274  277  ...  264
Shoes            171  207  197  198  188  202  204  183  207  194  ...  188
Souvenir         108   86   83  103  103   86  103   96  111   99  ...  108
Technology        89   86   77   90  116   85  105  103   87   95  ...  111
Toys             176  197  196  224  199  217  197  177  184  209  ...  155

age               61   62   63   64   65   66   67   68   69
category
Books             95   96   95  103   92   82  104   98   99
Clothing         668  644  654  717  606  643  666  676  650
Cosmetics        310  304  267  296  296  302  273  260  305
Food & Beverage  302  293  261  291  283  303  284  278  255
Shoes            190  211  220  191  190  198  184  181  187
Souvenir          87   95  112   93   98   84   98   88   96
Technology        93   83   81  112  110   96   86   97   92
Toys             200  183  196  199  181  168  206  215  217

[8 rows x 52 columns]

Revenue by Category:
 category
Books              8.345529e+05
Clothing           1.139968e+08
Cosmetics          6.792863e+06
Food & Beverage    8.495351e+05
Shoes              6.655345e+07
Souvenir           6.358247e+05
Technology         5.786235e+07
Toys               3.980426e+06
Name: revenue, dtype: float64

Quantity Sold by Category:
 category
Books               14982
Clothing           103558
Cosmetics           45465
Food & Beverage     44277
Shoes               30217
Souvenir            14871
Technology          15021
Toys                30321
Name: quantity, dtype: int64

Payment Method Distribution by Category:
 payment_method    Cash  Credit Card  Debit Card
category
Books             2268         1696        1017
Clothing         15456        12025        7006
Cosmetics         6674         5336        3087
Food & Beverage   6587         5250        2939
Shoes             4474         3553        2007
Souvenir          2211         1770        1018
Technology        2235         1753        1008
Toys              4542         3548        1997

In [ ]:
#female customers are more likely to purchase in categories like Clothing, Cosmetics,while Male customers are more inclined to buy Clothing, Shoes
#Younger age groups (18-30) prefer Cosmetics, Technology, and Toys, whereas older age groups (50+) tend to purchase more in Clothing, Food & Beverage, and Shoes. 
#categories such as Clothing, Shoes, and Technology drive the highest revenue.
#Clothing and Toys have the highest quantity sold.
#Cash is the preferred payment method for all categories.

In [27]:
category_stats = df.groupby('category').agg({
    'quantity': 'sum',
    'revenue': 'sum',
    'gender': 'value_counts',
    'age': 'mean'
})

print(category_stats)

                           quantity       revenue   gender        age
Books                       14982.0  8.345529e+05      NaN  43.541859
Clothing                   103558.0  1.139968e+08      NaN  43.409227
Cosmetics                   45465.0  6.792863e+06      NaN  43.580645
Food & Beverage             44277.0  8.495351e+05      NaN  43.354426
Shoes                       30217.0  6.655345e+07      NaN  43.454953
Souvenir                    14871.0  6.358247e+05      NaN  43.393079
Technology                  15021.0  5.786235e+07      NaN  43.368495
Toys                        30321.0  3.980426e+06      NaN  43.326262
(Books, Female)                 NaN           NaN   2906.0        NaN
(Books, Male)                   NaN           NaN   2075.0        NaN
(Clothing, Female)              NaN           NaN  20652.0        NaN
(Clothing, Male)                NaN           NaN  13835.0        NaN
(Cosmetics, Female)             NaN           NaN   9070.0        NaN
(Cosmetics, Male)               NaN           NaN   6027.0        NaN
(Food & Beverage, Female)       NaN           NaN   8804.0        NaN
(Food & Beverage, Male)         NaN           NaN   5972.0        NaN
(Shoes, Female)                 NaN           NaN   5967.0        NaN
(Shoes, Male)                   NaN           NaN   4067.0        NaN
(Souvenir, Female)              NaN           NaN   3017.0        NaN
(Souvenir, Male)                NaN           NaN   1982.0        NaN
(Technology, Female)            NaN           NaN   2981.0        NaN
(Technology, Male)              NaN           NaN   2015.0        NaN
(Toys, Female)                  NaN           NaN   6085.0        NaN
(Toys, Male)                    NaN           NaN   4002.0        NaN

In [ ]:
#Top Categories by Quantity: Clothing sold the highest quantity, followed by Cosmetics and Food & Beverage.
#Top Categories by Revenue: Clothing generated the most revenue, with Shoes and Technology being significant contributors.
#Age Insights: The average age of shoppers is around 43 years, indicating a middle-age customer base.
#Gender Insights: Females dominate categories like Cosmetics, Clothing, and Toys, while males prefer Technology and Books.

In [36]:
age_distribution = df['age_group'].value_counts().sort_index()
print("Shopping distribution by age:")
print(age_distribution)

Shopping distribution by age:
age_group
18-25    13496
26-35    19081
36-45    19401
46-55    19049
56-65    19003
66-70     9427
Name: count, dtype: int64

In [ ]:
#The age group 36-45 has the highest shopping activity, with 19,401 transactions, followed closely by the 26-35 group (19,081 transactions).
#The 66-70 age group has the lowest shopping activity, with 9,427 transactions, indicating lower engagement among older customers.

In [47]:
# Assuming you've already created the 'age_group' column with the age categories
quantity_by_age_category = df.groupby('age_group', observed=False)['quantity'].sum()

# Finding the age category with the maximum quantity sold
max_quantity_age_category = quantity_by_age_category.idxmax()
max_quantity = quantity_by_age_category.max()

print(f"We sold the most products to the {max_quantity_age_category} age category, with {max_quantity} products sold.")

We sold the most products to the 36-45 age category, with 58473 products sold.

In [55]:
revenue_by_age=df.groupby('age_group',observed=False)['revenue'].sum()
max_revenue_age=revenue_by_age.idxmax()
max_revenue=revenue_by_age.max()
print(f"more revenue generated by the{max_revenue_age} age category,with {max_revenue} in revneue.")

more revenue generated by the36-45 age category,with 50077040.3 in revneue.

In [57]:
# Grouping by payment method to summarize quantity and revenue
payment_method_stats = df.groupby('payment_method').agg({
    'quantity': 'sum',   # Total quantity sold per payment method
    'revenue': 'sum',    # Total revenue per payment method
    'gender': 'value_counts',  # Count of transactions per gender in each payment method
    'age_group': 'value_counts'  # Count of transactions per age group in each payment method
})

print(payment_method_stats)

                       quantity       revenue   gender  age_group
Cash                   133370.0  1.128322e+08      NaN        NaN
Credit Card            105045.0  8.807712e+07      NaN        NaN
Debit Card              60297.0  5.059643e+07      NaN        NaN
(Cash, Female)              NaN           NaN  26509.0        NaN
(Cash, Male)                NaN           NaN  17938.0        NaN
(Credit Card, Female)       NaN           NaN  21011.0        NaN
(Credit Card, Male)         NaN           NaN  13920.0        NaN
(Debit Card, Female)        NaN           NaN  11962.0        NaN
(Debit Card, Male)          NaN           NaN   8117.0        NaN
(Cash, 36-45)               NaN           NaN      NaN     8672.0
(Cash, 26-35)               NaN           NaN      NaN     8570.0
(Cash, 56-65)               NaN           NaN      NaN     8512.0
(Cash, 46-55)               NaN           NaN      NaN     8460.0
(Cash, 18-25)               NaN           NaN      NaN     5994.0
(Cash, 66-70)               NaN           NaN      NaN     4239.0
(Credit Card, 36-45)        NaN           NaN      NaN     6819.0
(Credit Card, 46-55)        NaN           NaN      NaN     6733.0
(Credit Card, 56-65)        NaN           NaN      NaN     6637.0
(Credit Card, 26-35)        NaN           NaN      NaN     6624.0
(Credit Card, 18-25)        NaN           NaN      NaN     4795.0
(Credit Card, 66-70)        NaN           NaN      NaN     3323.0
(Debit Card, 36-45)         NaN           NaN      NaN     3910.0
(Debit Card, 26-35)         NaN           NaN      NaN     3887.0
(Debit Card, 46-55)         NaN           NaN      NaN     3856.0
(Debit Card, 56-65)         NaN           NaN      NaN     3854.0
(Debit Card, 18-25)         NaN           NaN      NaN     2707.0
(Debit Card, 66-70)         NaN           NaN      NaN     1865.0

In [ ]:
#the payment method does have a relation with other columns such as gender and age group.
#The Cash payment method is the most frequently used across all genders and age groups, followed by Credit Cards and Debit Cards. The differences suggest that age and gender can influence the payment preferences of customers.

In [59]:
# Group by payment method and sum the quantity and revenue
payment_distribution = df.groupby('payment_method')[['quantity', 'revenue']].sum()

# Print the result
print("Payment Method Distribution (Quantity and Revenue):")
print(payment_distribution)

Payment Method Distribution (Quantity and Revenue):
                quantity       revenue
payment_method
Cash              133370  1.128322e+08
Credit Card       105045  8.807712e+07
Debit Card         60297  5.059643e+07

In [ ]:
#Cash is the most popular payment method, with the highest quantity sold  and revenue.
#Credit Cards follow as the second most popular method, while Debit Cards have the lowest quantity and revenue.

In [71]:
# Export the processed dataset to a CSV file
df.to_csv("processed_customer_data.csv", index=False)

print("Processed dataset saved as 'processed_customer_data.csv'")

Processed dataset saved as 'processed_customer_data.csv'

In [73]:
import os
print(os.getcwd())  # Prints the current working directory

C:\Users\anjal